$primary_color: #ffffff;
$p_color: #727272;
$font_family: 'Raleway', sans-serif;



body {
	font: 18px/30px $font_family;
	color: $p_color;
	background-color: white;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1 {
	font: 30px/50px $font_family;
	color: black;
	font-weight: 400;
}

h2 {
	font: 16px/50px $font_family;
	color: black;
	font-weight: 700;
}

h3 {
	font: 12px/30px $font_family;
	color: black;
	font-weight: 600;
}
h4 {
	font: 10px/30px $font_family;
	color: black;
	font-weight: 600;
}
img {
  	display: block;
 	height: auto;
  	max-width: 100%;
  	vertical-align: middle;
}
p {
	font-size: 12px;
	color: #000;
}
.site-header {
	padding: 0;
	background: #fafafa;
}
.site-top {
	font-size: 11px;
	color: #000;
	padding: 0;
	.row {
		@media (max-width: 768px) {
			display: flex;
		}
	}

}

.info p {
	font-family: 'Myriad pro';
	display: flex;
	justify-content: flex-start;
	padding: 0 15px;
}
.top_info {
	display: flex;
	justify-content: flex-end;
	padding: 0 15px;

	a {
		color: #000000;
		text-decoration:  none;
		padding-left: 5px;

	}
	.mail {
		margin: 0 10px;
		display: flex;
		align-items: center;
		font-size: 10px;

	}
	.client {
		display: flex;
		align-items: center;
		font-size: 10px;
		i {
			font-size: 1.5em;
		}

	}
	.lanuage {
		display: flex;
		align-items: center;
		margin: 0 0 0 10px;
		cursor: pointer;
	}

	.en {
		display: flex;
		align-items: center;

	}
	.usd {
		display: flex;
		align-items: center;

	}
}
.site-logo {
	align-items: center;
	background: #000;
	width: 100%;
	.logo_info {
		.logotip {

			h1 {
				color: #ffffff;
				text-align: left;
				font-size: 24px/50px;
				text-transform: uppercase;
				font-weight: bold;
				@media (max-width: 576px) {
					text-align: center;

				}
			}
		}
	}
	.logo_info2 {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		@media (max-width: 576px) {
			padding-bottom: 10px;
		}
		.box {
			flex: 1 1 auto;
            color: #727272;
            box-sizing: border-box;
            transition: border-color 1s ease,box-shadow 1s ease;
            box-shadow: none;
            .container-1 {
            	display: flex;
            	font-size: 12px;
            	color: #000000;

            }
            .container-1 input {
            	width: 100%;
            	border: none;
            }
            .container-1 span {
            	margin-left: -20px;
            }

		}
		.login {
			display: flex;
			font-size: 10px;
			color: #ffffff;
			text-decoration: none;
			a {
				color: #ffffff;
				padding: 0 15px;
			}
		}
		.cart {
			display: flex;
			align-items: center;
			color: #ffffff;
			font-size: 10px;
			a {
				color: #ffffff;
			}
		}
	}
}

/** menu buterbrod**/

.site-navigation {
		padding: 0;
}

.megamenu_blouses {
			position: absolute;
		    z-index: 4;
		    top: 100%;
		    left: 0;
		    width: 200%;
		    padding: 0;
		    margin-top: 0;
		    display: flex;
		    justify-content: space-around;
		    background: #fafafa;
		    text-transform: uppercase;
		    visibility: hidden;
		    transition: all 1.5s ease;


	li {
			display: flex;
			flex-flow: column;

		a {
				display: block;
				font-size: 10px;
				color: #242629;
				text-decoration: none;

		}
		a:hover {
			color: #000;
			font-weight: bold;

		}
	}
}

/*.menu__links:hover .megamenu_blouses {
  	visibility: visible;
}	*/




.main-menu {
	position: relative;

	&__icon {
		position: absolute;
		display: block;
		width: 30px;
		height: 35px;
		top: 10px;
		right: 30px;
		cursor: pointer;
		z-index: 2;

		span {
			display: block;
			position: absolute;
			height: 5px;
			width: 100%;
			background: #333333;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: .25s ease-in-out;

			&:nth-child(1) {
				top: 0px;
			}

			&:nth-child(2), &:nth-child(3) {
				top: 13px;
			}

			&:nth-child(4) {
				top: 26px;
			}
		}
	}

	&__links {
		position: absolute;
		width: 100%;
		background-color: rgba(0,0,0,0.5);
		padding: 0;
		list-style: none;
		margin: 0;
		display: none;
		flex-flow: column wrap;
		justify-content: flex-start;
		align-self: center;
		z-index: 1;
	}

	&__links-item {
		padding: 10px;
		position: relative;
		z-index: 1;

		> a {
			color: white;
    		font-size: 10px;
    		line-height:40px;
    		font-weight: bold;
    		padding: 0 5px;
    		text-transform: uppercase;
		}

		.sub-menu {
			list-style: none;
			padding: 0;
			margin: 0;
			position: absolute;
			width: 100%;
			top: 100%;
			left: 0;
			background-color: white;
			box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
			display: flex;
			opacity: 0;
			pointer-events: none;
			visibility: hidden;
			justify-content: space-between;
			transition: opacity 0.3s ease-in-out,
			visibility 1s ease-in-out;
			z-index: 999;

			> li {
				display: flex;
				flex-flow: column;

				a {
					color: #333333;
		    		font-size: 10px;
		    		line-height:40px;
		    		font-weight: bold;
		    		padding: 0 5px;
		    		text-transform: uppercase;
				}
			}
		}

		&:hover {
			z-index: 2;
			.sub-menu {
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
		}
	}

	&.menu_state_open {


		.main-menu__links{
			display: flex;
		}

		.main-menu__icon {
			span {
				&:nth-child(1) {
				  top: 18px;
				  width: 0%;
				  left: 50%;
				}

				&:nth-child(2) {
					transform: rotate(45deg);
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
				}

				&:nth-child(4) {
					top: 18px;
					width: 0%;
					left: 50%;
				}

			}
		}

		.sub-menu {
			//opacity: 1;
			//visibility: visible;
		}
	}


	@media (min-width: 768px) {

		.main-menu__icon {
			display: none;
		}

		.main-menu__links {
			position: relative;
			display: flex;
			flex-flow: row wrap;
			background-color: transparent;

			.main-menu__links-item {
				position: static;
			}

			a {
				color: #333333;
			}

			.sub-menu {
				position: absolute;
			}
		}

	}


}


/***********************/
.home-section {
	.row {
		padding: 0;
		margin: 0;
	}
	.testing {
		padding-right: -15px;
		display: flex;
		@media (max-width: 779px){	
				flex-flow: column;
			}
		.block {
			position: relative;
			width: 50%;
			max-height: 740px;
			margin: 15px 15px 15px 0;
			padding: 15px 0;

			@media (max-width: 779px){	
				width: 100%;
				margin-bottom: 0;
				padding-bottom: 0;
			}

				
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			.item1_info {
				display: flex;
				flex-flow: column;
				position: absolute;
				bottom: 30px;
				left:20px;
				h1 {
					display: inline-block;
					background: #ffffff;
					font-size: 30px;
					line-height: 40px;
					text-transform: uppercase;
					font-weight: bold;
					margin-bottom: 10px;
					@media (max-width: 989px) {
						font-size: 20px;
						@media (max-width: 779px) {
							font-size: 30px;
							@media (max-width: 500px) {
							font-size: 20px;
							}
						}
					}
				}
			}
		}
		.box {
			position: relative;
		}
		.boxleft {
			@media (max-width: 769px) {
				display: flex;
				flex-flow: row nowrap;
			}
			.item2_info {
				@media (max-width: 769px) {
					left: 15px;
				}
			}
			.accubuttons {
				right: 25px;
				@media (max-width: 769px) {
					left: 55%;
					@media (max-width: 470px) {
						left: 15px;
					}
				}
			}
		}
			
		.item2_info {
			position: absolute;
			bottom: 20px;
			left: 30px;
			@media (max-width: 991px) {
				bottom: 10px;
			}
			h2 {
				line-height: 30px;
			}

		}
		.accubuttons {
			position: absolute;
			bottom: 35px;
			right: 10px;
			@media (max-width: 991px) {
				bottom: 85px;
				left: 30px;
				@media (max-width: 769px) {
					bottom: 30px;
					left: 60%;
					@media (max-width:470px) {
						left: 30px;
						bottom: 85px;
					}
				}
			}
		}
		.block1 {
			position: relative;
			padding: 0;
			margin: 15px 0;
			display: flex;
			width: 50%;
			max-height: 740px;

			@media (max-width: 779px){	
				width: 100%;
				margin-bottom: 0;
				padding-bottom: 0;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			.podblock {

				display: flex;
				flex-flow: column;
				width: 50%;
				.box {
					display: flex;
					padding: 15px 0 15px
					15px;
					width: 100%;
					height: 50%;
					flex-flow: column;
					box-sizing: border-box;
				}
				.boxleft {
					padding-right: 15px;
					@media (max-width: 769px){	
						padding: 15px 15px 15px 0;
					}
				}
				.box1 {
					height: 100%;
					background: #000;
					.item2_info {
						h2 {
							color: #fff;
						}
						h3 {
							color: #fff;
						}
					}
					img {
						height: 70%;
					}
				}
			}
		}
	}
	.tilter {
		position: relative;
		display: block;
	}
.item3 {
	padding-top: 0;
	padding-bottom: 15px;
	li {
		padding-top: 0;
		padding-bottom: 0;
	}
}
.item3_1 {
	max-height: 200px;
	padding-bottom: 15px;
	 @media (max-width: 989px) {
    	    padding-bottom: 30px;
    	    @media (max-width: 769px) {
    	   	 padding-top: 15px;
    		}
    	}
}
.item3_2 {
	@media (max-width: 989px) {
    	padding-bottom: 15px;
    	@media (max-width: 789px) {
    	    padding-bottom: 30px;
    }
    	}
}
.item3_3 {
	@media (max-width: 989px) {
    	    padding-bottom: 15px;
    	}
}
.Newsletter {
	background: #000;
	background-size: contain;
	overflow: hidden;
    position: relative;
    margin-bottom: 0;
    padding: 21px 30px 40px;
    background: #000;
    text-align: center;
    @media (max-width: 1200px) {
    	padding: 0px 30px 23px;
    	 @media (max-width: 989px) {
    	    padding-bottom: 25px;
    	}
	}
}
.item3_left {
	.item1_info1 {
		display: flex;
		flex-flow: column;
		justify-content: center;
		h2 {
					display: flex;
					justify-content: center;
					color: #ffffff;
					font-size: 16px;
				}
				p {
					display: inline-block;
					color: #ffffff;
					line-height: 20px;
					font-size: 10px;
					padding: 0 10px;
					text-align: center;
					line-height: 10px;
				}
			/**
			.container-1 {
				position: absolute;
				display: flex;
				flex-flow: column;
				justify-content: space-between;
				top:20px;
            	font-size: 12px;
            	color: #000000;
            }**/
            .container-2 {
            	display: flex;
            		justify-content: center;
            		align-items: center;
            		align-content: center;
            	input {
            		border: 1px solid #ffffff;
            		background: #000;
            		color: #ffffff;
            		width: 100%;
            		padding-left: 20px;
            	}
            	span {
            		float: right;
            		margin-left: -20px;
            		color: #ffffff;
    			}
            }
    }

}
.item3_center {

	.item2_info2 {
		position: absolute;
		bottom: 45%;
		left: 30px;
			h2 {
				text-transform: uppercase;
				line-height:20px;
			}
	}
	.accubuttons {
		position: absolute;
		bottom:30px;
		left: 30px;
		@media (max-width: 989px) {
			bottom: 30px;
			@media (max-width: 769px) {
			bottom: 90px;
				@media (max-width: 540px) {
					bottom: 50px;
				}
			}
		}
	}
}
.item3_right {

	.item2_info2 {
		position: absolute;
		bottom: 45%;
		left: 30px;
		h2 {
			text-transform: uppercase;
			line-height:20px;
		}
	}
	.accubuttons {
		position: absolute;
		bottom: 30px;
		left: 30px;
		@media (max-width: 989px) {
			bottom: 30px;
			@media (max-width: 769px) {
				bottom: 83px;
				@media (max-width: 540px) {
					bottom: 35px;
				}
			}
		}
	}
}



}
.paralax-section {
	padding: 0;
	width: 100%;
	height: 500px;
	position: relative;
	background: url( '../images/images/01_home_new_02.jpg') no-repeat center center fixed;
	z-index: 0;
	@media (max-width: 789px) {
					height: 300px;

			}
	.page_header {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		align-content: center;
		z-index: 34;
		.infotext {
			font-size: 24px;
			font-weight: bold;
			text-transform: uppercase;
			padding: 150px 0 30px 0;
			@media (max-width: 789px) {
				font-size: 14px;
				padding: 50px 0 30px 0;
			}
		}
		.infotext2 {
			font-size: 60px;
			font-weight: lighter;
			background: #000;
			color: #ffffff;
			margin-bottom: 30px;
			@media (max-width: 1200px) {
				font-size: 50px;
				@media (max-width: 996px) {
					font-size: 40px;
					@media (max-width: 789px) {
						font-size: 30px;
						@media (max-width: 570px) {
							font-size: 25px;
						}
					}
				}
			}
		}
		.button-primary {
			font-size: 18px;
			padding: 20px 40px 20px 40px;
			list-style: none;
			@media (max-width: 789px) {
				font-size: 14px;
				padding: 10px 20px 10px 20px;
			}
		}

	}


}
.item-img {
	width: 100%;
	height: auto;
	margin: 0;
}
.section-1 {
	ul {
		list-style: none;
		padding: 15px;
	}
	li {
		list-style: none;
		padding: 0 15px 15px 15px;
    	width: auto;
		}
	.htmlcontent_top {
		position: relative;
		width: auto;
		ul {
			padding-top: 0;
		}
	}
	.htmlcontent-item-1 {
		padding-right: 0;
		h2 {
			text-transform: uppercase;
			font-size: 14px;
		}
		ul {
			padding: 0;
			margin: 0;
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
			line-height: 50px;
			@media (max-width: 996px) {
				display: flex;
				justify-content: space-between;
				@media (max-width: 576px) {

				}
			}
			li {
				padding: 0;
				margin: 0;
				display: flex;
				align-content: center;
				padding-right: 15px;
				@media (max-width: 576px) {
					font-size: 10px;
					padding-right: 10px;
				}
				a {
					color: #444;
					display: flex;
					text-align: center;
					align-content: center;
					line-height: 40px;

				}
			}
		}

		.item-link {
			display: block;
			overflow: hidden;

		}
	}
	.htmlcontent-item-2 {

				.countdown {
					position: absolute;
					top: 20px;
					left: 35px;
					list-style: none;
					padding: 0;
					display: flex;
					text-align: center;
					align-items: center;

					&.already-done {

					}

					@media (max-width: 996px) {
					 	top: 10px;
					 	}
					p {
					 	color: #000;
					 	padding: 5px;


					}
				}
				.countdown li {
					display: flex;
					flex-flow: column;
					padding: 10px;
					width: 60px;
					height: 60px;
					border: solid 1px #000;
					border-radius: 50%;
					line-height: 0;
				}
					.countdown li span {
					font-size: 24px;
					font-weight: 300;
					line-height: 30px;
					color: #000;
					}
					.countdown li.seperator {
					font-size: 24px;
					line-height: 70px;
					vertical-align: top;
					}
					.countdown li p {
					color: #000;
					font-size: 10px;
					}
				.countdown_info {
					position: absolute;
					top: 100px;
					left: 35px;
					padding-right: 45%;
					@media (max-width: 996px) {
					 	top: 80px;
					 	}
					 	.countdown_info1 {
					 		display: flex;
					 		align-items: center;
					 		@media (max-width: 1200px) {
					 			flex-flow: column;
					 			align-items: baseline;
					 		}
					 	}
					h2 {
						text-transform: uppercase;
						@media (max-width: 1200px) {
					 		font-size: 12px;
					 		line-height: 20px;
					 		@media (max-width: 996px) {

					 		}
						}
					}
					h1 {
						text-transform: uppercase;
						font-size: 34px;
						font-weight: bold;
						@media (max-width: 1200px) {
					 		font-size: 20px;
					 		line-height: 30px;
						}
					}
					h3 {
						font-size: 30px;
						@media (max-width: 1200px) {
					 		font-size: 20px;
					 		line-height: 20px;
						}
					}
					p {
						display: inline-block;
						margin: 13px 0 0 0px;
						letter-spacing: .5px;
						@media (max-width: 996px) {
					 		margin: 0;
					 		}
					}


				}
		.item-link {
			display: block;
			overflow: hidden;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.htmlcontent-item-3 {
		.item-html {
			position: absolute;
			top: 20px;
			left: 30px;
			@media (max-width: 989px) {
				top: 0px;

				}
			img {
				object-fit: cover;
			}
			h3 {
				text-transform: uppercase;
				font-size: 16px;
				@media (max-width: 989px) {
						padding-top: 0px;

				}

			}
			h4 {
				padding-top: 170px;
				padding-bottom: 15px;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 12px;
				@media (max-width: 1200px) {
					padding-top: 160px;
					padding-bottom: 0;
					@media (max-width: 989px) {
						padding-top: 0;

					}

				}

			}
			.off {
				color: #000;
				margin-right: 20px;
				text-decoration: line-through;
				font-size: 18px;
				@media (max-width: 989px) {
						margin-top: 50px;

				}

			}
			.on {
				color: #000;
				font-size: 24px;

			}
			.button {
				margin-top: 10px;
				@media (max-width: 1200px) {
					margin-top: 5px;
					@media (max-width: 989px) {
						margin-top: 125px;

					}
				}
			}
		}
	}

		@media (max-width: 991px) and (min-width: 480px) {
					#htmlcontent_top>ul>li:first-child {
		    		width: 50%;
					}
				}
}
/** prodyct**/
.section-2 {
	.box-heading {
		display: flex;
		justify-content: space-between;
		h3 {
			font-size: 16px;
			text-transform: uppercase;
			font-weight: bold;
		}
		a {
			font-size: 10px;
			color: #000;
			font-weight: bold;
			text-transform: uppercase;
		}
		li {
			padding: 0 10px 0 10px;
		}
	}
	.lazy:hover  img {
		transform: scale(1.1);
	}
	.lazy:hover + .button-group {
			opacity: 1;
	}
	.button-group {
		position: absolute;
	    text-align: center;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    top: 45%;
	    display: inline-block;
	    opacity: 0;
	    transition: all 1s ease;

	    .btn {
	    	padding: 5px 10px 5px 10px;
	    	background: #ffffff;
	    	border: solid 1px #000;
	    	border-radius: 0;
	    	cursor: pointer;
	    	transition: all 1s ease;
	    	@media (max-width: 579px) {
	    		padding: 2px 7px 2px 7px;
	    	}
	    	i {
	    		font-size: 12px;
	    		@media (max-width: 579px) {
	    		}
	    	}
	    }
	    .btn:hover {
	    	color: #ffffff;
	    	background: #000;
	    }
	}
	.button-group:hover {
		opacity: 1;
	}
	.product-layout {
		border-right: 1px solid #ddd;
		border-left: 1px solid #ddd;
		margin: 20px 0 20px 0;
		@media (max-width: 579px) {
		width: 50%;
		display: flex;
		justify-content: center;
	    }
	}
	.img-primary {
		width: auto;

	}
	.caption {
		display: flex;
		flex-flow: column;
		.info {
			display: flex;
			flex-flow: column;
			align-items: center;
			h3 {
				font-size: 11px;
				line-height: 20px;
				text-transform: uppercase;
				font-weight: bold;
			}
		}
		.price {
			display: flex;
			justify-content: space-around;
			span {
				font-size: 14px;
				font-weight: bold;
				color: #000;
			}
			.price-old {
				text-decoration: line-through;
			}
		}
	}
}
.section-3 {
	img {
		@media (max-width: 769px){
			width: 100%;
	    }
	}
	.box-content {
		background: #f4f4f4;
		@media (max-width: 769px){
			background: #ffffff;
	    }
	}
	.article-sub-title {
		color: #727272;
		font-size: 12px;
		font-weight: bold;
		padding-top: 30px;
		@media (max-width: 979px){
			padding-top: 10px;
	    }
	}
	.article-title {
		a {
			color: #000;
			font-size: 18px;
			font-weight: bold;
			text-decoration: none;
			transition: all 0.5s ease;
		}
		a:hover {
			color: #e9b32d;
		}
	}
	.article-description {
		font-size: 14px;
		line-height: 24px;
		color: #000;
		padding: 20px 0 20px 0;
		@media (max-width: 979px){
			padding: 10px 0 10px 0;
	    }
	}
	.box-heading {
		padding: 40px 0 20px 0;
		h3 {
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}
.section-4 {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		@media (max-width: 576px){
			width: 100%;
	    }
	}
	.box-heading {
		padding: 40px 0 20px 0;
		h3 {
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.box-content {
		margin-bottom: 50px;
	}

	.instagram_item {
		display: flex;
		justify-content: center;
		overflow: hidden;



		@media (max-width: 769px){
			width: 100%;
			margin-bottom: 30px;
		}

		.activities {
			position: absolute;
			bottom: 30px;
			opacity: 0;
			background: rgba(0, 0, 0, 0.3);
			color: #ffffff;
			transition: all 0.3s cubic-bezier(.5,.12,.46,.88);
		}

		&:hover {
			.activities {
				opacity: 1;
				bottom: 0px;
			}
		}
	}

}
.section-about {
	.article-image {
		@media (max-width: 576px){
			display: flex;
			justify-content: center;
		}
		img {
			cursor: pointer;
			transition: all 1s ease

		}
		img:hover {
			transform: scale(1.2);
		}
	}
	.box-heading {
		padding: 15px 0;
		h4 {
			font-size: 18px;
			font-weight: bold;
			
		}
	}
	.box-content {
		padding-top: 30px;
		a {
			color: #000;
			text-transform: uppercase;
			align-items: center;
			text-decoration: none;
		}
		a:hover {
			color: #ffb400;
		}
		p {
			text-align: center;
		}
	}
}
.section-delivery {
	h1 {
		text-transform: uppercase;
		font-weight: bold;
	}
	.table-responsive {
		min-width: 400px;
		overflow: scroll;
	}
	.delivery_page .table tbody td:first-child {
    	font-weight: 700;
	}
	.delivery_page .table tbody td:last-child {
    	font-weight: 700;
    	color: #000;
	}
	.table-bordered {
		border-top: 2px solid #000;
		thead {
			font-weight: bold;
			color: #000;
		}
	}
}
.section-contact {
	.panel-default {
		.info {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			i {
				padding:10px 15px;
			}
			.info2 {
				font-size: 12px;
				strong {
					line-height: 20px;
				}
				a {
					color: #000;

				}
				a:hover {
					color: #ffb400;
					text-decoration: none;
				}
			}
		}
		.fa {
			font-size: 40px;
			padding-left: 50px;
		}
	}
	.message {
		label {
			font-size: 12px;
		}
		.required {
			color: red;
			font-size: 1.5em;
		}
		textarea {
			width: 100%;
			min-height: 200px;
			border: 2px solid #000;
		}
	}
	.accubuttons {
		padding: 10px 0 30px 0;
		display: flex;
		justify-content: flex-end;
		a {
			padding: 10px 50px;
			font-weight: bold;
		}
	}
}
footer {
	background: #000;
	color: #ffffff;
	position: relative;
	h3 {
		color: #ffffff;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
	}

	a {
		color: #ffffff;
		font-size: 10px;
		line-height: 18px;
		transition: all 0.5s ease;
	}
	a:hover {
		color: #e9b32d;
		text-decoration: none;
	}
	h4 {
		color: #fff;
		font-size: 10px;
		line-height: 18px;
		font-weight: normal;
	}

	.social-list {
		display: flex;
		justify-content: flex-start;
		list-style: none;
		padding: 10px 0;

		.icon-item {
			display: flex;
			justify-content: center;
			position: relative;
			padding: 0 10px;
			font-weight:400;
			font-size: 20px;

			&:hover {
				.name {
					top: -200%;
					opacity: 1;

				}
			}

			a {
				font-size: 20px;
			}

			.name {
				position: absolute;
				z-index: 4;
				padding: 5px 10px;
				top: -250%;
				opacity: 0;
				font-size: 14px;
				line-height: 20px;
				background: #ffb400;
				box-shadow: 0 0 30px rgba(0,0,0,.2);
				box-sizing: border-box;
				border-radius: 5px;
				transition: opacity 0.2s cubic-bezier(.5,.12,.46,.88),
							top 0.4s cubic-bezier(.5,.12,.46,.88);

				&:after {
					display: block;
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 5px 5px 0 5px;
					bottom: -5px;
					left: 50%;
					margin-left: -3px;
					border-color: #ffb400 transparent transparent transparent;
					content: '';
				}
			}
		}
	}

}

/******************/
#content {
	p {
		color: #000;
		line-height: 20px;
		margin-bottom: 10px;
	}
	h3 {
		font-size: 20px;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 20px;
	}
	hr {
		margin: 10px 0;
		border-top: 1px solid #eee;
	}
	.product-filter_elem {
		display: flex;
		justify-content: space-between;
		margin: 10px 0 40px 0;
		align-items: center;
		@media (max-width: 500px){
			flex-flow: column;
		}
		.holder {
			border: 1px solid #727272;
			@media (max-width: 500px){
				margin: 15px 0;
			}
		}

		.holder a {
			font-size: 16px;
			cursor: pointer;
			margin: 0 5px;
			color: #333;
			font-weight: bold;
		}

		.holder a:hover {
			background-color: #222;
			color: #fff;
		}

		.holder a.jp-previous { margin-right: 15px; }
		.holder a.jp-next { margin-left: 15px; }

		.holder a.jp-current, a.jp-current:hover { 
			color: #FF4242;
			font-weight: bold;
		}

		.holder a.jp-disabled, a.jp-disabled:hover {
			color: #bbb;
		}

		.holder a.jp-current, a.jp-current:hover,
		.holder a.jp-disabled, a.jp-disabled:hover {
			cursor: default; 
			background: none;
		}

		.holder span { margin: 0 5px; 
		}
		form {
			label {
				font-size: 12px;
				color: #000;
				padding-left: 20px;
			}
			select {
					font-size: 12px;
					padding: 9px 0;
				}
		}
		
	}
	.product-layout {
		border-right: 1px solid #ddd;
		border-left: 1px solid #ddd;
		margin: 20px 0 20px 0;
			@media (max-width: 579px) {
				width: 50%;
				display: flex;
				justify-content: center;
			}
		.lazy {
			.sale {
				position: absolute;
				color: #fff;
				background: red;
				display: inline-block;
				font-size: 10px;
				line-height: 15px;
				float: top;

			}
		}
		.lazy:hover  img {
			transform: scale(1.1);
			transition: all 1s ease;
		}
		.lazy:hover + .button-group{
			opacity: 1;
		}
		.button-group {
			position: absolute;
		    text-align: center;
		    right: 0;
		    left: 0;
		    top: 45%;
		    display: inline-block;
		    opacity: 0;
		    transition: all 1s ease;
		    	@media (max-width: 579px) {

	    		}

	    	.btn {
		    	padding: 5px 10px 5px 10px;
		    	background: #ffffff;
		    	border: solid 1px #000;
		    	border-radius: 0;
		    	cursor: pointer;
		    	transition: all 1s ease;
		    		@media (max-width: 579px) {
		    			padding: 2px 7px 2px 7px;
		    		}
	    		i {
	    			font-size: 12px;
	    		}
	    	}
	    	.btn:hover {
	    		color: #ffffff;
	    		background: #000;
	    	}
		}
		.button-group:hover {
			opacity: 1;
		}

		.img-primary {
			width: auto;
		}
		.caption {
			display: flex;
			flex-flow: column;
			.info {
				display: flex;
				flex-flow: column;
				align-items: center;
				a {
					font-size: 11px;
					line-height: 20px;
					text-transform: uppercase;
					font-weight: bold;
					color: #000;
					text-decoration: none;
				}
				a:hover {
					color: #ffb400;
				}
			}
			.price {
				display: flex;
				justify-content: space-around;
				span {
					font-size: 14px;
					font-weight: bold;
					color: #000;
				}
				.price-old {
					text-decoration: line-through;
				}
				.discount {
					span {
						color: red;
					}
				}
			}
			.description {
				display: none;
			}
		}
	}
	.product-list {
		padding: 20px 15px;
		width: 100%;
		display: flex;
		border: none;
		border-bottom: 1px solid #ddd;
		margin: 0;
		.product-thumb {
			display: flex;
			.image {
				width:30%;
				img {
					width: 100%;
				}
				.button-group {
					position: relative;
					opacity: 1;

				}
			}
			.caption {
				padding-left: 20px;
				width:70%;
				display: flex;
				justify-content: flex-start;
				.description {
					display: flex;
					font-size: 12px;
					line-height: 20px;
				}
				.price {
					justify-content: flex-start;
					span {
						padding-right: 20px;
					}
				}
				.info {
					flex-flow: row nowrap;
					a {
						padding-right: 20px;
					}
				}
			}
		}
		
	}
}
.breadgrumb {
	list-style: none;
	display: flex;
	border: 1px solid #e7e7e7;
	padding: 10px 15px;
	margin: 15px 0 40px 0;

	li {
		position: relative;
		font-size: 10px;
		padding-right: 10px;
		a {
			color: #7a7f84;

		}
	}
	span {
		font-size: 10px;
		text-transform: capitalize;
	}
}

.button {
	float: left;
	display: block;
	font-size: 12px;
	padding: 2px 5px;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	border: solid 1px #000;
	color: #000;
}
.button.inverted {
	color: #fff;
	border: solid 1px #fff;
}
.button-primary {
	transition: border-color 0.4s, color 0.4s;
}
.button-primary::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: -1;
	opacity: 0;
	transform: scale3d(0.1, 1, 1);
	transition: transform 0.6s, opacity 0.6s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);

}
.button-primary.inverted::before {
	background: #fff;

}
.button-primary,
.button-primary::before {
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button-primary:hover {
	color: #fff;
	border-color: #000;
	text-decoration: none;

}
.button-primary.inverted:hover {
	color: #000;
	border-color: #fff;
}
.button-primary:hover::before {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}
.bottom_top {
	a {
		text-decoration: none;
	
	}
	.ui-to-top {
	    width: 38px;
	    height: 38px;
	    font-size: 16px;
	    line-height: 33px;
	    background: #fff;
	    color: #000;
	    border-radius: 0;
	    position: fixed;
	    right: 10%;
	    bottom: 65px;
	    overflow: hidden;
	    text-align: center;
	    list-style: none;
	    z-index: 20;
	    border: 1px solid #000;
	}
	.ui-to-top:active {
	 	background: #000;
	 	color: #fff;

	}
}

